header h1 {
    text-align: center;
}

html, body {
    padding: 0px;
    margin: 0px;
    height: 100%
}

header {
    background: yellow;
    width: 100%;
    height: 20%;
    float: left;
}

nav {
    background: orange;
    width: 15%;
    height: 72%;
    float: left;
}

section {
    background: lightblue;
    width: 85%;
    height: 72%;
    float: left;
}

footer {
    background: violet;
    width: 100%;
    height: 8%;
    float: left;
}