body {
    background: aliceblue;
}

h1 {
    color: brown;
    text-align: center; /*텍스트를 가운데로 정렬*/
}

header {
    border-bottom-style: solid; /*헤더 아래쪽 실선*/
    border-bottom-width: 1px;   /*1px 두께*/
    /*border-bottom: 1px solid; 로 줄여 쓸 수 있음*/
}

nav ul {
    border-style: dotted;   /*ul 요소 전체 테두리*/
    border-width: 1px;
}

a {
    text-decoration: none;  /*링크 장식 밑줄 없앰*/
}

p {
    font-family: "휴면 편지체"; /*글꼴*/
    font-size: 1em;     /*글자 크기를 기본 크기와 동일하게 설정*/
    text-indent: 1em;   /*문단의 첫 줄을 글자 한 개 크기만큼 들여씀*/
}

h2 {
    text-shadow: 3px 3px 5px skyblue;   /*그림자가 오른쪽-아래쪽으로 3px 이동하고 5px만큼 부드럽게 퍼지는 하늘색 그림자*/
    color: blue;
}

footer {
    border-radius: 10px;    /*모서리를 10px만큼 둥글게 만듦*/
    background: orange;
}